{{#each questions}}
<div class="card mb-2 col-12" key="{{this._id}}">
    <div class="card-body">
        <h5 class="card-title">Q : {{this.title}}</h5>
        <p class="card-text">{{this.subtitle}}</p>
        <blockquote class="blockquote mb-0">
            <p></p>
            <footer class="blockquote-footer">
                {{this.by}}
                |
                <cite title="Source Title">{{this.newDate.day}}-{{this.newDate.month}}-{{this.newDate.year}}</cite>
            </footer>
        </blockquote>
    </div>
    <div class="card-footer text-muted text-left">
        Views {{this.views}} | {{#if answered}} <span class="text-success">Answered</span> {{else}} <span class="text-muted">Not Answered</span>{{/if}}
    </div> 
</div>
{{/each}}