<section class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <!-- Start: Intro -->
                <div class="intro">
                    <h1 class="text-center">{{question.title}}</h1><!-- Start: Date and Author -->
                    <p class="text-center"><span class="by">by</span> <a href="#">{{question.by}}</a><span
                            class="date">{{question.date}} {{moment question.date format="YYYY-MM-DD"}} </span></p>
                    <!-- End: Date and Author -->
                </div><!-- End: Intro -->
                <!-- Start: Text -->
                <div class="text">
                    <p>{{question.subtitle}}</p>
                </div><!-- End: Text -->
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend"></div><input class="form-control" type="text"
                            placeholder="Answer...">
                        <div class="input-group-append"><button class="btn btn-primary" type="button">Answer</button>
                        </div>
                    </div>
                </form>
                <div class="card mt-2">
                    {{#each question.answers}}
                    <div class="card-body">
                        <h4 class="card-title">{{by}}</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{date}}</h6>
                        <p class="card-text">{{answer}}</p><a class="card-link" href="#">Like</a><a class="card-link"
                            href="#">Unlike</a>
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend"></div><input class="form-control" type="text"
                                    placeholder="Comment">
                                <div class="input-group-append"><button class="btn btn-primary"
                                        type="button">Answer</button></div>
                            </div>
                        </form>
                        {{#each comments}}
                        <div class="card-body">
                            <p class="card-text">{{comment}} ~{{by}}</p>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>